#winner
  font-size 3em
  text-transform uppercase
  text-align center
#tweets
  width: 50%
  li.active
    background-color yellow
  li
    list-style-type none
    padding 2px
    width 100px
    margin 2px
    float left
    img
      margin: 1px auto
      display block
    p
      text-align center
      margin 1px


html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin:0; padding:0; }
body { margin: 0; padding:8px; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


h1 {
font-family: "MolotRegular", Arial, sans-serif;
color: #966;
}
h1 span { float:right; display:block; padding-left: 5px; color: #99c; font-size:.9em; }
h1 span a, h1 span a:visited { color: #99c; }