<!DOCTYPE html>
<html>
<head>
<title>Twitter Raffle</title>
<link rel="stylesheet" href="public/stylesheets/style.css"/>
</head>
<body>

<div id="app"><div id="raffle"><h1 class="clearfix">Twitter Raffle<span>By <a href='http://devcomo.com/'>dev/como</a></span></h1>

    <div id="raffle-inner" class="clearfix"><p>Searching tweets for <input id="search" value="devcomo" /> <button id="select">Select a Winner</button></p><div id="winner"></div><ul id="tweets" class="clearfix"></ul></div><footer>

    <a href='https://github.com/CoMoRichWebGroup/raffle-app'>Source code</a> 
</footer></div></div>

<script id="tweet-template" type="text/template"> <img src="<%= profile_image_url %>"/>
 <p>
 <a target='_blank' href='http://twitter.com/<%= from_user %>'><%= from_user %></a>
 </p>
 <p>
 <button class="remove">Remove</button>
 </p>
</script>

<script type="text/javascript" src="public/javascripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="public/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="public/javascripts/backbone-min.js"></script>
<script type="text/javascript" src="public/javascripts/application.js"></script>

</body>
</html>