h1= title

#app
  p Search tweets for <input id="search" value="comorichweb" /> 
    button(id="select") Select a Winner
  #winner
  ul#tweets



script#tweet-template(type="text/template")
  |  <img src="<%= profile_image_url %>"/>
  |  <p><%= from_user %></p>
