#winner {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}
#tweets {
  width: 50%;
}
#tweets li.active {
  background-color: #ff0;
}
#tweets li {
  list-style-type: none;
  padding: 2px;
  width: 100px;
  margin: 2px;
  float: left;
}
#tweets li img {
  margin: 1px auto;
  display: block;
}
#tweets li p {
  text-align: center;
  margin: 1px;
}
