#winner {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}
#tweets {
  margin: 0;
  padding: 8px;
}
#tweets li.active {
  background-color: #ff0;
  border-radius: 5px;
}
#tweets li {
  list-style-type: none;
  padding: 2px;
  width: 100px;
  margin: 2px;
  float: left;
}
#tweets li img {
  margin: 1px auto;
  display: block;
}
#tweets li p {
  text-align: center;
  margin: 1px;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 8px;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
h1 {
  font-family: "MolotRegular", Arial, sans-serif;
  color: #966;
  margin: 3px;
  padding: 3px;
}
h1 span {
  float: right;
  display: block;
  padding-left: 5px;
  color: #99c;
  font-size: 0.6em;
}
h1 span a,
h1 span a:visited {
  color: #66c;
}
footer a,
footer a:visited {
  color: #66c;
}
footer {
  text-align: center;
}
#app {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 200px;
  min-height: 200px;
  position: relative;
}
#raffle {
  box-shadow: rgba(0,0,0,0.6) 0 0 1px 0;
  border-radius: 8px;
  position: absolute;
  width: 800px;
  left: 50%;
  margin-top: 38px;
  border: 1px solid #bbb;
  margin-left: -400px;
  background: #ccc;
}
#raffle-inner {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
